<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site o get your Weather!</p>
        <form id="weatherForm">
            <input type="text" placeholder="Location" id="weatherInput">
            <button>Search</button>
        </form>

        <p id="messageOne"></p>
        <p id="messageTwo"></p>
        <p id="messageThree"></p>
        <p id="messageFour"></p>
        
        {{!-- <img class="portrait" src="/img/fotoperfil02.jpg" alt="">     --}}
    </div>
    
    {{>footer}}

    <script src="/js/app.js"></script>
</body>
</html>