<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this page is to search Images!</p>
        <form id="imageForm">
            <input type="text" placeholder="Search Image" id="inputImage">
            <button>Search</button>
        </form>

        <p id="messageOne"></p>
        <p id="messageTwo"></p>

        <img class="splashImage" id="imageOne"></img>
        <img class="splashImage" id="imageTwo"></img>
        
    </div>
    
    {{>footer}}

    <script src="/js/splashImage.js"></script>
</body>
</html>